<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add an X-man</h1>
      <form action="/addXman" class="addXman" method="POST">
        <input type="text" name="real_name" placeholder="Real Name">
        <input type="text" name="codename" placeholder="Codename">
        <input type="text" name="avatar" placeholder="Photo URL">
        <input type="text" name="team" placeholder="team">
        <input type="text" name="powers" placeholder="Powers">
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
