<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#xmanOn}}
    <h1>{{codename}}</h1>
    <img src="{{avatar}}" alt="{{name}}">
    <h2>{{real_name}}</h2>
    <p>{{active}}</p>
    <p>{{powers}}</p>
    {{/xmanOn}}
    <a href="/singlexman/update">Update</a>
    <a href="/singlexman/delete">Delete</a>
  </body>
</html>
